<div class="card">
    <div class="text-center">
      <h3>Nouveau Mot de passe</h3>
    </div>
  
    <form [formGroup]="resetPwdForm" (ngSubmit)="resetPwd()">
      
      <div class="mb-3">
        <div class="forgetPwd">
          <label for="exampleInputPassword1" class="form-label">Mot de passe</label>
        </div>
        <input formControlName="password" type="password" class="form-control" id="exampleInputPassword1">
      </div>
  
      <div class="display_btn">
        <button type="submit"class="btn btnAction" [disabled]="resetPwdForm.invalid">Envoyer</button>
      </div>
    </form>
    <div class="signupLink">
      <a class="text_size" routerLink="/signup"> Je n'ai pas de compte ! Inscrivez-moi </a>
    </div>
  </div>