<div class="pagetitle">
    <h1>créer une équipe</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item active" routerLink="/GestiondesUtilisateurs">Équipes</li>
            <li class="breadcrumb-item active">créer une équipe</li>
        </ol>
    </nav>
</div>
<!-- End Page Title -->

<section class="section">
    <div class="row">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Créer une équipe</h5>
                    <div class="card">
                        <button
                            type="button"
                            data-bs-toggle="modal"
                            data-bs-target="#exampleModal1"
                            class="btn btn-outline-secondary"
                        >
                            <i class="ri-team-fill"></i> créer une équipe
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div
            class="modal fade"
            id="exampleModal1"
            tabindex="-1"
            aria-labelledby="exampleModalLabel"
            aria-hidden="true"
        >
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="pagetitle">
                            <h1>Créer votre équipe</h1>
                        </div>
                        <button
                            type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"
                        ></button>
                    </div>
                    <div class="modal-body">
                        <form
                            class="row g-3 needs-validation"
                            [formGroup]="createTeamForm"
                            (ngSubmit)="createTeams()"
                        >
                            <div class="row">
                                <div class="col-6">
                                    <label for="exampleInputNom" class="form-label">Nom</label>
                                    <input
                                        type="text"
                                        formControlName="name"
                                        class="form-control"
                                        id="exampleInputNom"
                                    />
                                    <div class="invalid-feedback">Please, enter your name!</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <label for="exampleInputCin" class="form-label"
                                        >Description</label
                                    >
                                    <input
                                        type="text"
                                        formControlName="description"
                                        class="form-control"
                                        id="exampleInputCin"
                                    />
                                    <div class="invalid-feedback">Please, enter your name!</div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-primary" type="submit">Créer</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
