<section class="section dashboard">
    <div class="col-lg-12">
        <div class="card">
            <section class="section dashboard">
                <div class="col-xl-12">
                    <div class="filter">
                        <a class="icon" href="#" data-bs-toggle="dropdown"
                            ><i class="bi bi-three-dots"></i
                        ></a>
                        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                            <li>
                                <a
                                    class="dropdown-item"
                                    type="button"
                                    [routerLink]="['/teams/manage-team/', teamName,id]"
                                    ><i class="bi bi-gear"></i>| Gérer l'equipe</a
                                >
                            </li>
                            <li>
                                <a
                                    class="dropdown-item"
                                    type="button"
                                    data-bs-toggle="modal"
                                    data-bs-target="#verticalycentered"
                                    ><i class="bi bi-person-plus"></i>| Ajouter un membre</a
                                >
                            </li>
                            <li>
                                <a
                                    class="dropdown-item"
                                    type="button"
                                    data-bs-toggle="modal"
                                    data-bs-target="#exampleModal1"
                                    ><i class="bi bi-pencil"></i>| Modifier l'equipe</a
                                >
                            </li>
                            <li>
                                <a class="dropdown-item" type="button" (click)="deletTeam()"
                                    ><i class="bi bi-trash"></i>| Supprimer l'equipe</a
                                >
                            </li>
                        </ul>
                    </div>
                    <h5 class="card-title" style="padding: 20px 20px 0px">{{ teamName }}</h5>
                </div>
            </section>
            <div class="position-relative">
                <div class="card-body pt-3">
                    <!-- Bordered Tabs -->
                    <ul class="nav nav-tabs nav-tabs-bordered">
                        <li class="nav-item">
                            <button
                                class="nav-link active"
                                data-bs-toggle="tab"
                                data-bs-target="#profile-overview"
                            >
                                Membres
                            </button>
                        </li>

                        <li class="nav-item">
                            <button
                                class="nav-link"
                                data-bs-toggle="tab"
                                data-bs-target="#profile-edit"
                            >
                                Canales
                            </button>
                        </li>
                    </ul>
                    <div class="tab-content pt-2">
                        <div
                            class="tab-pane fade show active profile-overview"
                            id="profile-overview"
                        >
                            <div class="position-absolute top-0 end-0">
                                <div class="nav-item">
                                    <a class="nav-link collapsed">
                                        <button
                                            type="button"
                                            class="btn btn-outline-primary"
                                            data-bs-toggle="modal"
                                            data-bs-target="#verticalycentered"
                                        >
                                            <i
                                                class="bi bi-person-plus"
                                                style="margin-right: 5px"
                                            ></i>
                                            Ajouter un membre
                                        </button>
                                    </a>
                                </div>
                            </div>
                            <h5 class="card-title">Propriétaire</h5>
                            <table class="table table-hover table-bordered border-primary">
                                <thead>
                                    <tr>
                                        <th scope="col">Image</th>
                                        <th scope="col">Nom d’utilisateur</th>
                                        <th scope="col">Email</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="image">
                                            <img class="rounded-circle" src="{{ teacherImage }}" />
                                        </td>
                                        <td>{{ teacherName }}</td>
                                        <td>{{ teacherEmail }}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <h5 class="card-title">Membres</h5>
                            <table class="table table-hover table-bordered border-primary">
                                <thead>
                                    <tr>
                                        <th scope="col">Image</th>
                                        <th scope="col">Nom d’utilisateur</th>
                                        <th scope="col">Email</th>
                                        <th scope="col">Supprimer un Membre</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let e of MembersInfo">
                                        <td class="image">
                                            <img class="rounded-circle" src="{{ e.imageURL }}" />
                                        </td>
                                        <td>{{ e.userName }}</td>
                                        <td>{{ e.email }}</td>
                                        <td>
                                            <button
                                                type="button"
                                                class="btn btn-outline-danger"
                                                (click)="deletMember(e)"
                                            >
                                                <i
                                                    class="bi bi-person-x-fill"
                                                    style="margin-right: 5px"
                                                ></i>
                                                Supprimer
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div
                            class="modal fade"
                            id="exampleModal1"
                            tabindex="-1"
                            aria-labelledby="exampleModalLabel"
                            aria-hidden="true"
                        >
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <div class="pagetitle">
                                            <h1>Modifier votre équipe</h1>
                                        </div>
                                        <button
                                            type="button"
                                            class="btn-close"
                                            data-bs-dismiss="modal"
                                            aria-label="Close"
                                        ></button>
                                    </div>
                                    <div class="modal-body">
                                        <form
                                            class="row g-3 needs-validation"
                                            [formGroup]="editTeamForm"
                                        >
                                            <div class="row">
                                                <div class="col-6">
                                                    <label for="exampleInputNom" class="form-label"
                                                        >Nom</label
                                                    >
                                                    <input
                                                        type="text"
                                                        formControlName="name"
                                                        class="form-control"
                                                        id="exampleInputNom"
                                                    />
                                                    <div class="invalid-feedback">
                                                        Please, enter your name!
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12">
                                                    <label for="exampleInputCin" class="form-label"
                                                        >Description</label
                                                    >
                                                    <input
                                                        type="text"
                                                        formControlName="description"
                                                        class="form-control"
                                                        id="exampleInputCin"
                                                    />
                                                    <div class="invalid-feedback">
                                                        Please, enter your name!
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button class="btn btn-primary" type="button" (click)="updatethisTeam()">
                                                    Modifier
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Vertically centered Modal -->

                        <div class="modal fade" id="verticalycentered" tabindex="-1">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">
                                            Ajouter des Membres a {{ teamName }}
                                        </h5>
                                        <button
                                            type="button"
                                            class="btn-close"
                                            data-bs-dismiss="modal"
                                            aria-label="Close"
                                        ></button>
                                    </div>

                                    <div class="search-bar" style="margin-left: 12px">
                                        <h6
                                            class="modal-title"
                                            style="margin-top: 20px; margin-bottom: 20px"
                                        >
                                            Commencez à taper un nom à ajouter à votre équipe.
                                        </h6>
                                        <form
                                            class="search-form d-flex align-items-center"
                                            method="POST"
                                            action="#"
                                        >
                                            <input
                                                type="text"
                                                name="query"
                                                placeholder="Search"
                                                [(ngModel)]="searchText"
                                                placeholder="Rechercher"
                                                title="Enter search keyword"
                                            />
                                            <button type="submit" title="Search">
                                                <i class="bi bi-search"></i>
                                            </button>
                                        </form>
                                    </div>
                                    <!-- End Search Bar -->

                                    <ul class="col-lg-10" style="margin-left: 30px">
                                        <li
                                            class="list-group-item list-group-item-action"
                                            *ngFor="
                                                let e of users
                                                    | searchMembersFilter: searchText:'userName';
                                                let i = index
                                            "
                                        >
                                            <!-- (click)="addMember(data.id)" -->
                                            <div type="button" (click)="addMember(e.id)">
                                                <a
                                                    class="rojla nav-link nav-profile d-flex align-items-center pe-0"
                                                >
                                                    <img
                                                        src="{{ e.imageURL }}"
                                                        alt="Profile"
                                                        class="rounded-circle"
                                                    />
                                                    <h5 class="card-name" style="margin-left: 12px">
                                                        {{ e.userName }}
                                                    </h5>
                                                    <!-- <span class="d-none d-md-block ">{{e.userName}}</span> -->
                                                </a>

                                                <!-- <p class="card-text">{{e.email}}</p> -->
                                            </div>
                                        </li>
                                    </ul>
                                    <div class="modal-footer">
                                        <button
                                            type="button"
                                            class="btn btn btn-secondary"
                                            data-bs-dismiss="modal"
                                        >
                                            Close
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Vertically centered Modal-->
                        <div class="tab-pane fade profile-edit pt-3" id="profile-edit">
                            <!-- Profile Edit Form -->
                            <h5 class="card-title">Canales</h5>
                        </div>
                    </div>
                    <!-- End Bordered Tabs -->
                </div>
            </div>
        </div>
    </div>
</section>
