<section class="section profile">
  <div class="row">
    <div class="col-xl-4">
      <div class="card">
        <div
          class="card-body profile-card pt-4 d-flex flex-column align-items-center"
        >
          <img
            src="{{user.imageURL}}"
            alt="Profile"
            class="rounded-circle"
          />
          <h2>{{ user.firstName }} {{ user.lastName }}</h2>
          <h3>{{ user.role }}</h3>
        </div>
      </div>
    </div>

    <div class="col-xl-8">
      <div class="card">
        <div class="card-body pt-3">
          <!-- Bordered Tabs -->
          <ul class="nav nav-tabs nav-tabs-bordered">
            <li class="nav-item">
              <button
                class="nav-link active"
                data-bs-toggle="tab"
                data-bs-target="#profile-overview"
              >
                Aperçu
              </button>
            </li>

            <li class="nav-item">
              <button
                class="nav-link"
                data-bs-toggle="tab"
                data-bs-target="#profile-edit"
              >
                Modifier le Profil
              </button>
            </li>
            <li class="nav-item">
              <button
                class="nav-link"
                data-bs-toggle="tab"
                data-bs-target="#profile-image-edit"
              >
                Changer Photo de profil
              </button>
            </li>
            <li class="nav-item">
              <button
                class="nav-link"
                data-bs-toggle="tab"
                data-bs-target="#profile-change-password"
              >
                Changer le Mot de Passe
              </button>
            </li>
          </ul>
          <div class="tab-content pt-2">
            <div
              class="tab-pane fade show active profile-overview"
              id="profile-overview"
            >
              <h5 class="card-title">Profile</h5>

              <div class="row">
                <div class="col-lg-3 col-md-4 label">Nom</div>
                <div class="col-lg-9 col-md-8">{{ user.firstName }}</div>
              </div>

              <div class="row">
                <div class="col-lg-3 col-md-4 label">Prénom</div>
                <div class="col-lg-9 col-md-8">{{ user.lastName }}</div>
              </div>
              <div class="row">
                <div class="col-lg-3 col-md-4 label">Nom d'utilisateur</div>
                <div class="col-lg-9 col-md-8">{{ user.userName }}</div>
              </div>
              <div class="row">
                <div class="col-lg-3 col-md-4 label">Cin</div>
                <div class="col-lg-9 col-md-8">{{ user.cin }}</div>
              </div>

              <div class="row">
                <div class="col-lg-3 col-md-4 label">téléphone</div>
                <div class="col-lg-9 col-md-8">{{ user.phone }}</div>
              </div>

              <div class="row">
                <div class="col-lg-3 col-md-4 label">Email</div>
                <div class="col-lg-9 col-md-8">{{ user.email }}</div>
              </div>
            </div>

            <div class="tab-pane fade profile-edit pt-3" id="profile-edit">
              <!-- Profile Edit Form -->

              <form [formGroup]="editUserForm">
                <div class="row mb-3">
                  <label
                    for="profileImage"
                    class="col-md-4 col-lg-3 col-form-label"
                    >Profile Image</label
                  >
                  <div class="col-md-8 col-lg-9">
                    <img
                      src="{{user.imageURL}}"
                      alt="Profile"
                    />

                  </div>
                </div>

                <div class="row mb-3">
                  <label
                    for="firstName"
                    class="col-md-4 col-lg-3 col-form-label"
                    >Nom</label
                  >
                  <div class="col-md-8 col-lg-9">
                    <input
                      name="firstName"
                      type="text"
                      class="form-control"
                      id="firstName"
                      formControlName="firstName"
                    />
                  </div>
                </div>

                <div class="row mb-3">
                  <label for="lastName" class="col-md-4 col-lg-3 col-form-label"
                    >Prénom</label
                  >
                  <div class="col-md-8 col-lg-9">
                    <input
                      name="lastName"
                      type="text"
                      class="form-control"
                      id="lastName"
                      formControlName="lastName"
                    />
                  </div>
                </div>
                <div class="row mb-3">
                  <label for="userName" class="col-md-4 col-lg-3 col-form-label"
                    >Nom d'utilisateur</label
                  >
                  <div class="col-md-8 col-lg-9">
                    <input
                      name="userName"
                      type="text"
                      class="form-control"
                      id="userName"
                      formControlName="userName"
                    />
                  </div>
                </div>

                <div class="row mb-3">
                  <label for="cin" class="col-md-4 col-lg-3 col-form-label"
                    >Cin</label
                  >
                  <div class="col-md-8 col-lg-9">
                    <input
                      name="cin"
                      type="text"
                      class="form-control"
                      id="cin"
                      formControlName="cin"
                    />
                  </div>
                </div>

                <div class="row mb-3">
                  <label for="Phone" class="col-md-4 col-lg-3 col-form-label"
                    >téléphone</label
                  >
                  <div class="col-md-8 col-lg-9">
                    <input
                      name="phone"
                      type="text"
                      class="form-control"
                      id="Phone"
                      formControlName="phone"
                    />
                  </div>
                </div>

                <div class="text-center">
                  <button
                    type="submit"
                    class="btn btn-primary"
                    [disabled]="editUserForm.invalid"
                    (click)="updateUser()"
                  >
                    Modifier
                  </button>
                </div>
              </form>
              <!-- End Profile Edit Form -->
            </div>
            <div
              class="tab-pane fade profile-edit pt-3"
              id="profile-image-edit"
            >
              <!-- Profile Edit Form -->

              <form [formGroup]="editUserForm">

                <div class="row p3 "  >
                    <span > image:</span>
                    <span><input type="file" (input)="fileChoosen($event)"></span>
                    <span *ngIf="choosen">
                        <button class="btn btn-warning" (click)="submitPhoto()"> submit</button>
                    </span>

                </div>

              </form>
              <!-- End Profile Edit Form -->
            </div>
            <div class="tab-pane fade pt-3" id="profile-change-password">
              <!-- Change Password Form -->
              <form [formGroup]="updateUserPasswordForm">
                <div class="row mb-3">
                  <label
                    for="oldPassword"
                    class="col-md-4 col-lg-3 col-form-label"
                    >Ancien mot de passe
                  </label>
                  <div class="col-md-8 col-lg-9">
                    <input
                      name="oldPassword"
                      type="password"
                      class="form-control"
                      id="oldPassword"
                      formControlName="oldPassword"
                      autocomplete="off"
                    />
                  </div>
                </div>

                <div class="row mb-3">
                  <label
                    for="newPassword"
                    class="col-md-4 col-lg-3 col-form-label"
                    >Nouveau mot de passe</label
                  >
                  <div class="col-md-8 col-lg-9">
                    <input
                      name="newpassword"
                      type="password"
                      class="form-control"
                      id="newPassword"
                      formControlName="newPassword"
                      autocomplete="off"
                    />
                  </div>
                </div>

                <div class="row mb-3">
                  <label
                    for="cnewPassword"
                    class="col-md-4 col-lg-3 col-form-label"
                    >Confirmer le nouveau mot de passe</label
                  >
                  <div class="col-md-8 col-lg-9">
                    <input
                      name="cnewPassword"
                      type="password"
                      class="form-control"
                      id="cnewPassword"
                      formControlName="cnewPassword"
                      autocomplete="off"
                    />
                  </div>
                </div>

                <div class="text-center">
                  <button
                    type="submit"
                    class="btn btn-primary"
                    [disabled]="updateUserPasswordForm.invalid"
                    (click)="updateUserPassword()"
                  >
                    Change Password
                  </button>
                </div>
              </form>
              <!-- End Change Password Form -->
            </div>
          </div>
          <!-- End Bordered Tabs -->
        </div>
      </div>
    </div>
  </div>
</section>
