<div class="card">
  <div class="text-center">
    <h2>Récupération de compte</h2>
  </div>

  <div *ngIf="!isMailSent;else showMessage">
    <form [formGroup]="forgotpwdForm" (ngSubmit)="forgotPwd()">
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Adresse email </label>
        <input formControlName="email" type="email" class="form-control" id="exampleInputEmail1"
          aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text"></div>
      </div>

      <div class="display_btn">
        <button type="submit" class="btn btnAction" [disabled]="forgotpwdForm.invalid">Envoyer</button>
      </div>
    </form>

    <div class="signupLink">
      <a class="text_size" routerLink="/signup"> Je n'ai pas de compte ! Inscrivez-moi </a>
    </div>
  </div>

  <ng-template #showMessage>
    <h6>Un email de récupération de compte a été envoyé à votre adresse email. Veillez vérifier votre boite mail.</h6>
  </ng-template>



</div>