<div class="pagetitle">
  <h1>Liste des Enseignants en attente</h1>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="index.html">Home</a></li>
      <li class="breadcrumb-item active" routerLink="/GestiondesUtilisateurs">
        Gestion des Utilisateurs
      </li>
      <li class="breadcrumb-item active">Liste des Enseignants en attente</li>
    </ol>
  </nav>
</div>
<!-- End Page Title -->
<section class="section">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Liste des Enseignants en attente</h5>
          <table class="table table-hover table-bordered border-primary">
            <thead>
              <tr>
                <th scope="col">Image</th>
                <th scope="col">Nom</th>
                <th scope="col">Prénom</th>
                <th scope="col">Cin</th>
                <th scope="col">Email</th>
                <th scope="col">Téléphone</th>
                <th scope="col">Valider</th>
                <th scope="col">Rejeter</th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="
                  let e of teacherData
                    | paginate
                      : {
                          itemsPerPage: tableSize,
                          currentPage: page,
                          totalItems: count
                        };
                  let i = index
                "
              >
                <td class="image" ><img class="rounded-circle" src="{{e.imageURL}}"></td>
                <td>{{ e.firstName }}</td>
                <td>{{ e.lastName }}</td>
                <td>{{ e.cin }}</td>
                <td>{{ e.email }}</td>
                <td>{{ e.phone }}</td>
                <td>
                  <button
                    (click)="updateStatus(e)"
                    type="button"
                    class="btn btn-outline-success"
                    style="width: 100%;"
                  >
                    <i class="bi bi-check-circle-fill"> Valider</i>
                  </button>
                </td>
                <td>
                  <button
                    (click)="rejectUser(e)"
                    type="button"
                    class="btn btn-outline-danger " 
                    style="width: 100%;"
                  >
                    <i class="bi bi-exclamation-octagon-fill"> Rejeter</i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
          <pagination-controls
            previousLabel="Prev"
            nextLabel="Next"
            (pageChange)="onTableDataChange($event)"
          ></pagination-controls>
        </div>
      </div>
    </div>
  </div>
</section>
