  <!-- ======= Header ======= -->
<app-home-header></app-home-header>
<!-- End Header -->
<!-- ======= Hero Section ======= -->
<app-accueil></app-accueil>
<!-- End Hero -->

<main id="main">
  <app-about-us></app-about-us>
  <!-- ======= Clients Section ======= -->
  <app-clients></app-clients>
  <!-- End Cliens Section -->
  <!-- ======= Services Section ======= -->
  <app-services></app-services>
  <!-- End Services Section -->
  <!-- ======= Cta Section ======= -->
  <app-start-conf></app-start-conf>
  <!-- End Cta Section -->
  <!-- ======= Demo Section ======= -->
  <app-demo></app-demo>
  <!-- End Demo Section -->
  <!-- ======= Contact Section ======= -->
  <app-contact-us></app-contact-us>
  <!-- End Contact Section -->
</main>
<!-- End #main -->

<!-- ======= Footer ======= -->
<app-footer></app-footer>
<!-- End Footer -->
