<div class="container">
    <section
        class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4"
    >
        <div class="container">
            <div class="row justify-content-center">
                <div
                    class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center"
                >
                    <div class="d-flex justify-content-center py-4">
                        <a href="index.html" class="logo d-flex align-items-center w-auto">
                            <img src="assets/img/logo.png" alt="" />
                            <span class="d-none d-lg-block">NiceAdmin</span>
                        </a>
                    </div>
                    <!-- End Logo -->

                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="pt-4 pb-2">
                                <h5 class="card-title text-center pb-0 fs-4">
                                    Nouveau Mot de Passe
                                </h5>
                            </div>
                            <div>
                                <form [formGroup]="resetPwdForm" (ngSubmit)="resetPwd()">
                                    <div class="mb-3">
                                        <label for="exampleInputPassword1" class="form-label"
                                            >Mot de Passe</label
                                        >
                                        <input
                                            formControlName="password"
                                            type="password"
                                            class="form-control"
                                            id="exampleInputPassword1"
                                        />
                                        <div id="emailHelp" class="form-text"></div>
                                    </div>

                                    <div class="col-12">
                                        <button
                                            class="btn btn-primary w-100"
                                            type="submit"
                                            [disabled]="resetPwdForm.invalid"
                                        >
                                            Envoyer
                                        </button>
                                    </div>
                                </form>

                                <div class="col-12">
                                    <p class="small mb-0">
                                        Je n'ai pas de compte
                                        <a [routerLink]="['/auth/register']">! Inscrivez-moi</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- </div>


      </section>

    </div> -->
    </section>
</div>
